---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/bundler/bundler/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1552585194'
      Etag:
      - W/"73eba48ecb219e8a3636c8b6c52e4847f69c40fc"
      Last-Modified:
      - Thu, 14 Mar 2019 07:10:47 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".azure-pipelines","path":".azure-pipelines","sha":"b4c4c03a175256b0a4ed9b3702a847a3ddf5d6d0","size":0,"url":"https://api.github.com/repos/bundler/bundler/contents/.azure-pipelines?ref=master","html_url":"https://github.com/bundler/bundler/tree/master/.azure-pipelines","git_url":"https://api.github.com/repos/bundler/bundler/git/trees/b4c4c03a175256b0a4ed9b3702a847a3ddf5d6d0","download_url":null,"type":"dir","_links":{"self":"https://api.github.com/repos/bundler/bundler/contents/.azure-pipelines?ref=master","git":"https://api.github.com/repos/bundler/bundler/git/trees/b4c4c03a175256b0a4ed9b3702a847a3ddf5d6d0","html":"https://github.com/bundler/bundler/tree/master/.azure-pipelines"}},{"name":".codeclimate.yml","path":".codeclimate.yml","sha":"b8d91f14c4e1d56161ca46ec58c6fe08bd1cbac6","size":360,"url":"https://api.github.com/repos/bundler/bundler/contents/.codeclimate.yml?ref=master","html_url":"https://github.com/bundler/bundler/blob/master/.codeclimate.yml","git_url":"https://api.github.com/repos/bundler/bundler/git/blobs/b8d91f14c4e1d56161ca46ec58c6fe08bd1cbac6","download_url":"https://raw.githubuserconten[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/bundler/bundler/contents/LICENSE.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.github.v3.raw; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '15[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/bundler/bundler/contents/README.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.github.v3.raw; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '155[...]
