/.bundle/
/bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/examples.txt
/license-cache/
*-dependency-licenses.json
results/
/vendor/

mkmf.log
gem_make.out

.DS_STORE
