---
http_interactions:
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/unstable/pkgs/glibc/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 953093152ce8208332cebcb87e625069a68486ce502874792e9867e6ef7ae6f0
    body:
      encoding: UTF-8
      string: '{"channels":["base-plans-2018-06","stable","unstable"],"checksum":"953093152ce8208332cebcb87e625069a68486ce502874792e9867e6ef7ae6f0","config":"","deps":[{"name":"linux-headers","origin":"core","release":"20180608041107","version":"4.15.9"}],"exposes":[],"ident":{"name":"glibc","origin":"core","release":"20180608041157","version":"2.27"},"is_a_service":false,"manifest":"#
        core / glibc\nThe GNU C Library project provides the core libraries for the
        GNU system and GNU/Linux systems, as well as many other systems that use Linux
        as the kernel. These libraries provide critical APIs including ISO C11, POSIX.1-2008,
        BSD, OS-specific APIs and more. These APIs include such foundational facilities
        as open, read, write, malloc, printf, getaddrinfo, dlopen, pthread_create,
        crypt, login, exit and more.\n\n* __Maintainer__: The Habitat Maintainers
        <humans@habitat.sh>\n* __Version__: 2.27\n* __Release__: 20180608041157\n*
        __Architecture__: x86_64\n* __System__: linux\n* __Target__: x86_64-linux\n*
        __Upstream URL__: [https://www.gnu.org/software/libc](https://www.gnu.org/software/libc)\n*
        __License__: GPL-2.0 LGPL-2.0 \n* __Source__: [http://ftp.gnu.org/gnu/glibc/glibc-2.27.tar.xz](http://ftp.gnu.org/gnu/glibc/glibc-2.27.tar.xz)\n*
        __SHA__: `5172de54318ec0b7f2735e5a91d908afe1c9ca291fec16b5374d9faadfc1fc72`\n*
        __Path__: `/hab/pkgs/core/glibc/2.27/20180608041157`\n* __Build Dependencies__:
        `core/coreutils core/bison core/diffutils core/patch core/make core/gcc core/sed
        core/perl `\n* __Dependencies__: `core/linux-headers `\n* __Interpreters__:
        no interpreters or undefined\n\n# Plan\n\n## Build Flags\n\n```bash\nCFLAGS:
        no CFLAGS\nCPPFLAGS: -I/hab/pkgs/core/linux-headers/4.15.9/20180608041107/include
        -I/hab/pkgs/core/make/4.2.1/20180608031320/include -I/hab/pkgs/core/gcc/7[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/unstable/pkgs/musl/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - 63019db59c548ba1f12c8b238c6ef2615807dc1922b94293606fc8e7f2ed9d30
    body:
      encoding: UTF-8
      string: '{"channels":["base-plans-2018-06","stable","unstable"],"checksum":"63019db59c5[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/unstable/pkgs/glibc/2.27/20180608041157
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 953093152ce8208332cebcb87e625069a68486ce502874792e9867e6ef7ae6f0
    body:
      encoding: UTF-8
      string: '{"channels":["base-plans-2018-06","stable","unstable"],"checksum":"953093152ce8208332cebcb87e625069a68486ce502874792e9867e6ef7ae6f0","config":"","deps":[{"name":"linux-headers","origin":"core","release":"20180608041107","version":"4.15.9"}],"exposes":[],"ident":{"name":"glibc","origin":"core","rele[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/unstable/pkgs/musl/1.1.19/20180608102708
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 63019db59c548ba1f12c8b238c6ef2615807dc1922b94293606fc8e7f2ed9d30
    body:
      encoding: UTF-8
      string: '{"channels":["[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/unstable/pkgs/linux-headers/4.15.9/20180608041107
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - a8d8f5f74c5bde1f5078bc344bc52ef97a28a0325203673268aa9986b532fa85
    body:
      encoding: UTF-8
      string: '{"channels":["base-plans-2018-06","stable","unstable"],"checksum":"a8d8f5f74c5bde1f5078bc344bc52ef97a28a0325203673268aa9986b532fa85","config":"","deps":[],"exposes":[],"ident":{"name":"linux-headers","origin":"core","release":"20180608041107","version":"4.15.9"},"is_a_service":false,"manifest":"#
        core / linux-headers\nThe Linux kernel headers\n\n* __Maintainer__: The Habitat
        Maintainers <humans@habitat.sh>\n* __Version__: 4.15.9\n* __Release__: 20180608041107\n*
        __Architecture__: x86_64\n* __System__: linux\n* __Target__: x86_64-linux\n*
        __Upstream URL__: [https://kernel.org](https://kernel.org)\n* __License__:
        gplv2 \n* __Source__: [https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.15.9.tar.xz](https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.15.9.tar.xz)\n*
        __SHA__: `dda015b2042e71c6d0df56de553846df1252eac486514000c76b741cde6d4492`\n*
        __Path__: `/hab/pkgs/core/linux-headers/4.15.9/20180608041107`\n* __Build
        Dependencies__: `core/coreutils core/diffutils core/patch core/make core/gcc
        `\n* __Dependencies__: no runtime dependencies or undefined\n* __Interpreters__:
        no interpreters or undefined\n\n# Plan\n\n## Build Flags\n\n```bash\nCFLAGS:
        -I/hab/pkgs/core/make/4.2.1/20180608031320/include -I/hab/pkgs/core/gcc/7.3.0/20180607201502/include\nCPPFLAGS:
        -I/hab/pkgs/core/make/4.2.1/20180608031320/include -I/hab/pkgs/core/gcc/7.3.0/20180607201502/include\nCXXFLAGS:
        -I/hab/pkgs/core[...]
