---
http_interactions:
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/chef/stable/pkgs/chef-server-ctl/12.17.49/20180503181308
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 1c0e94e62afee1e84f4afb9f32100188311ebb07b35e47c281f5c200f1e54791
    body:
      encoding: UTF-8
      string: '{"channels":["expeditor-chef-chef-server-master","unstable"],"checksum":"1c0e94e62afee1e84f4afb9f32100188311ebb07b35e47c281f5c200f1e54791","config":"#
        Use this file to templatize your application''s native configuration files.\n#
        See the docs at https://www.habitat.sh/docs/create-packages-configure/.\n#
        You can safely delete this file if you don''t need it.\n#\n\n[chef_server_api]\nip
        = \"172.18.0.1\"\nport = \"80\"\nssl_port = \"443\"\n\n# the secrets namespace
        is initially initted to empty strings,\n# the idea is that we loop through
        all of these and generate them at\n# \"bootstrap\" time an[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/acl/2.2.52/20170513213108
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 88d01f9c3094e1a063e51f2e8cf0f9fbb6839c8858d8a214199d738142556112
    body:
      encoding: UTF-8
      string: '{"channels":["stable","unstable"],"checksum":"88d01f9c3094e1a063e51f2e8cf0f9fbb6839c8858d8a214199d738142556112","config":"","deps":[{"name":"glibc","origin":"core","release":"20170513201042","version":"2.22"},{"name":"attr","origin":"core","release":"20170513213059","version":"2.4.47"}],"exposes":[],"ident":{"name":"acl","origin":"core","release":"20170513213108","version":"2.2.52"},"is_a_service":false,"manifest":"#
        core / acl\n\n\n* __Maintainer__: The Habitat Maintainers <humans@habitat.sh>\n*
        __Version__: 2.2.52\n* __Release__: 20170513213108\n* __Architecture__: x86_64\n*
        __System__: linux\n* __Target__: x86_64-linux\n* __Upstream URL__: upstream
        project''s website or home page is not defined\n* __License__: lgpl \n* __Source__:
        [http://download.savannah.gnu.org/releases/acl/acl-2.2.52.src.tar.gz](http://download.savannah.gnu.org/releases/acl/acl-2.2.52.src.tar.gz)\n*
        __SHA__: `179074bb0580c06c4b4137be4c5a92a701583277967acdb5546043c7874e0d23`\n*
        __Path__: `/hab/pkgs/core/acl/2.2.52/20170513213108`\n* __Build Dependencies__:
        `core/coreutils core/diffutils core/patch core/make core/gcc core/gettext
        `\n* __Dependencies__: `core/glibc core/attr `\n* __Interpreters__: no interpreters
        or undefined\n\n# Plan\n\n## Build Flags\n\n```bash\nCFLAGS: -I/hab/pkgs/core/glibc/2.22/20170513201042/include
        -I/hab/pkgs/core/attr/2.4.47/20170513213059/include -I/hab/pkgs/core/make/4.2.1/20161214000256/include
        -I/hab/pkgs/core[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/attr/2.4.47/20170513213059
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 27c8df23a615e819e97a787d32167302e4e50c480a4e9db13850d628dad10ce9
    body:
      encoding: UTF-8
      string: '{"channels":["stable","unstable"],"checksum":"27c8df23a615e819e97a787d32167302e4e50c480a4e9db13850d628dad10ce9","config":"","deps":[{"name":"glibc","origin":"core","release":"20170513201042","version":"2.22"}],"exposes":[],"ident":{"name":"attr","origin":"core","release":"20170513213059","version":"2.4.47"},"is_a_service":false,"manifest":"#
        core / attr\n\n\n* __Maintainer__: The Habitat Maintainers <humans@habitat.sh>\n*
        __Version__: 2.4.47\n* __Release__: 20170513213059\n* __Architecture__: x86_64\n*
        __System__: linux\n* __Target__: x86_64-linux\n* __Upstream URL__: upstream
        project''s website or home page is not defined\n* __License__: gplv2+ \n*
        __Source__: [http://download.savannah.gnu.org/releases/attr/attr-2.4.47.src.tar.gz](http://download.savannah.gnu.org/releases/attr/attr-2.4.47.src.tar.gz)\n*
        __SHA__: `25772f653ac5b2e3ceeb89df50e4688891e21f723c460636548971652af0a859`\n*
        __Path__: `/hab/pkgs/core/attr/2.4.47/20170513213059`\n* __Build Dependencies__:
        `core/coreutils core/diffutils core/patch core/make core/gcc core/gettext
        `\n* __Dependencies__: `core/glibc `\n* __Interpreters__: no interpreters
        or un[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/bash/4.3.42/20170513213519
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 7784b3cfd62032ba1e064bffeeab77b6b41612c791f121119b961ceab694474e
    body:
      encoding: UTF-8
      string: '{"chann[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/binutils/2.25.1/20170513201927
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 19743e7d7513f80b9db79ba8c1d5d097ee210f3e25e219a3b38b3f8f39aabdf4
    body:
      encoding: UTF-8
      string: '{"c[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/bundler/1.16.0/20171129183702
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 9817ff0a200afdcf2949f8a961526fb236183c2120a40e77deab56cc141d11f9
    body:
      encoding: UTF-8
      string: '{"channels":["bldr-861630949712789504","stable","unstable"],"checksum":"9817ff0a200afdcf2949f8a961526fb236183c2120a40e77deab56cc141d11f9","config":"","deps":[{"name":"busybox-static","origin":"core","release":"20170513215502","version":"1.24.2"},{"name":"ruby","origin":"core","release":"20171014214232","version":"2.4.2"}],"exposes":[],"ident":{"name":"bundler","origin":"core","release":"20171129183702","version":"1.16.0"},"is_a_service":false,"manifest":"#
        core / bundler\nThe Ruby language dependency manager\n\n* __Maintainer__:
        The Habitat Maintainers <humans@habitat.sh>\n* __Version__: 1.16.0\n* __Release__:
        20171129183702\n* __Architecture__: x86_64\n* __System__: linux\n* __Target__:
        x86_64-linux\n* __Upstream URL__: [https://bundler.io/](https://bundler.io/)\n*
        __License__: bundler \n* __Source__: source URL not provided or required\n*
        __SHA__: SHA256 checksum not provided or required\n* __Path__: `/hab/pkgs/core/bundler/1.16.0/20171129183702`\n*
        __Build Dependencies__: no build dependencies or undefined\n* __Dependencies__:
        `core/ruby core/busybox-static `\n* __Interpreters__: no interpreters or undefined\n\n#
        Plan\n\n## Build Flags\n\n```bash\nCFLAGS: -I/hab/pkgs/core/ruby/2.4.2/20171014214232/include\nCPPFLAGS:
        -I/hab/pkg[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/busybox-static/1.24.2/20170513215502
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - f6a42c3f39ad33e424d431c6b454b3722dc62c84dc36fe5b8b482a593184c120
    body:
      encoding: UTF-8
      string: '{"channels":["stable","unstable"],"checksum":"f6a42c3f39ad33e424d431c6b454b3722dc62c84dc36fe5b8b482a593184c120","config":"","deps":[],"exposes":[],"ident":{"name":"busybox-static","origin":"core","release":"20170513215502","version":"1.24.2"},"is_a_service":false,"manifest":"#
        core / busybox-static\n\n\n* __Maintainer__: The Habitat Maintainers <humans@habitat.sh>\n*
        __Version__: 1.24.2\n* __Release__: 20170513215502\n* __Architecture__: x86_64\n*
        __System__: linux\n* __Target__: x86_64-linux\n* __Upstream URL__: upstream
        project''s website or home page is not defined\n* __License__: gplv2 \n* __Source__:
        [http://www.busybox.net/downloads/busybox-1.24.2.tar.bz2](http://www.busybox.net/downloads/busybox-1.24.2.tar.bz2)\n*
        __SHA__: `e71ef53ec656f31c42633918d301405d40dea1d97eca12f272217ae4a971c855`\n*
        __Path__: `/hab/pkgs/core/busybox-static/1.24.2/20170513215502`\n* __Build
        Dependencies__: `core/linux-headers-musl core/musl core/bash core/bison core/coreutils
        core/diffutils core/findutils core/flex core/gawk core/gcc core/gettext core/grep
        core/gzip core/libtool core/make core/patch core/sed core/texinfo core/util-linux
        core/wget core/xz `\n* __Dependencies__: no runtime dependencies or undefined\n*
        __Interpreters__: `bin/ash bin/awk bin/env bin/sh bin/bash `\n\n# Plan\n\n##
        Build Flags\n\n```bash\nCFLAGS: -I/hab/pkgs/core/linux-headers-musl/3.12.6-5/20170513215421/include
        -I/hab/pkgs/core/musl/1.1.14/20170513215431/include\nCPPFLAGS: -I/hab/pkgs/core/linux-headers-musl/3.12.6-5/20170513215421/include
        -I/hab/pkgs/core/musl/1.1.14/20170513215431/include -I/hab/pkgs/core/flex/2.6.0/20170513213413/include
        -I/hab/pkgs/core/gcc/5.2.0/20170513202244/include -I/hab/pkgs/core/gettext[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/bzip2/1.0.6/20170513212938
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 0d8313f4ec4038ed11c2e61cf6a43c24275a6a7bdd5a494184e8c0c519e92081
    body:
      encoding: UTF-8
      string: '{"chann[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/cacerts/2017.09.20/20171014212239
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - bfc7643c5296847c478c4be5650262ef810b421147cb99c3590ce3b8b28e7b39
    body:
      encoding: UTF-8
      string: '[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/coreutils/8.25/20170513213226
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 207441d0ff91743d4ba6711a3a66ff4575792ca8f8011d48c8e4620270cf5743
    body:
      encoding: UTF-8
      string: '{"ch[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/curl/7.54.1/20180329185356
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 8fdac06f94038e559dc5d751b5dc5a485635177816b0bd7b4d5e0ba049a9244c
    body:
      encoding: UTF-8
      string: '{"chann[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/db/5.3.28/20170513213734
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 036304b6dc111ce31f71c63d741a97f404638e9defa3312a606be103d90b17ed
    body:
      encoding: UTF-8
      string: '{"channel[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/gcc-libs/5.2.0/20170513212920
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - dec6a492b67f544455f135bb65130867b0dba097ee1763d635178be3f78f8cfa
    body:
      encoding: UTF-8
      string: '{"channels":["stable","unstable"],"checksum":"dec6a492b67f544455f135bb65130867b0dba097ee1763d635178be3f78f8cfa","config":"","deps":[{"name":"glibc","origin":"core","release":"20170513201042","version":"2.22"}],"exposes":[],"ident":{"name":"gcc-libs","origin":"core","release":"20170513212920","version":"5.2.0"},"is_a_service":false,"manifest":"#
        core / gcc-libs\nThe GNU Compiler Collection\n\n* __Maintainer__: The Habitat
        Maintainers <humans@habitat.sh>\n* __Version__: 5.2.0\n* __Release__: 20170513212920\n*
        __Architecture__: x86_64\n* __System__: linux\n* __Target__: x86_64-linux\n*
        __Upstream URL__: [https://gcc.gnu.org/](https://gcc.gnu.org/)\n* __License__:
        GPL-2.0 \n* __Source__: [http://ftp.gnu.org/gnu/gcc/gcc-5.2.0/gcc-5.2.0.tar.bz2](http://ftp.gnu.org/gnu/gcc/gcc-5.2.0/gcc-5.2.0.tar.bz2)\n*
        __SHA__: `5f835b04b5f7dd4f4d2dc96190ec1621b8d89f2dc6f638f9f8bc1b1014ba8cad`\n*
        __Path__: `/hab/pkgs/core/gcc-libs/5.2.0/20170513212920`\n* __Build Dependencies__:
        `core/gcc/5.2.0 co[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/gdal/2.2.1/20171025112525
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 58fdf311b6cec2f38f0efe1d9da73376fa9d20b5617461b1838563004e6a16c8
    body:
      encoding: UTF-8
      string: '{"channe[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/gdbm/1.11/20170513213716
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 3111ba6e82a7f378b0e3f063e7cf8542e4a82b921d663f4fd3d6adbee34f4368
    body:
      encoding: UTF-8
      string: '{"channel[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/geos/3.6.2/20171025112556
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - a6f9ec79db04769c97990d38cb5f39ed4eebdd6398c8ab7e29143ebdae977ea2
    body:
      encoding: ASCII-8BIT
      string: !bin[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/glibc/2.22/20170513201042
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 1929b3c8d6ea5cabb81f0e32cf814608f7c6e4232a22cef5d71d0671b48b2c45
    body:
      encoding: UTF-8
      string: '{"channe[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/gmp/6.1.0/20170513202112
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 7e3d930148d61ad649ef7dbad8d239e8eb58be6809a8c31c57cbfc50b1ee897a
    body:
      encoding: UTF-8
      string: '{"channel[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/grep/2.22/20170513213444
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 1b846fee0cba9a1e8764fc62b01224867c8f1d325daa00fbd95fd07ee3c9ad95
    body:
      encoding: UTF-8
      string: '{"channel[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/hab-butterfly/0.55.0/20180321215126
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - d1fb912f045a83ea0141d8e22d06da5fafa350a2d21c8da9c93d0c64e6089494
    body:
      encoding: UTF-8
      string:[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/jq-static/1.10/20160909011845
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - b972d03cb16540a2b394e6dcd1573a330226e29e9a3498ec16266cfc5b72037e
    body:
      encoding: UTF-8
      string: '{"ch[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/less/481/20170513213936
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - d03a4e080af603fa0d1cb2256a318b4de34d182c2935a1b383a76339b9e189eb
    body:
      encoding: UTF-8
      string: '{"channels[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/libarchive/3.3.2/20171018164107
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 00de0cff2e332115f10c4e22f9500b30324909b27e26c6cc75b516ca2b040f7c
    body:
      encoding: UTF-8
      string: '{"[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/libcap/2.24/20170513213120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 2037f26708b00bc982e0af94409b32094a58293e0762253cf1c8468a9285ddb3
    body:
      encoding: UTF-8
      string: '{"chann[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/libffi/3.2.1/20170514003538
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - f28b4b54d9c37ec8fee44f742d39b6478bd4654bace58557f38c430ae421bdbc
    body:
      encoding: UTF-8
      string: '{"chan[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/libossp-uuid/1.6.2/20170514001348
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - fd51f0a08623bf60e5012258d2452134938a280d90152400c9afc7b53dcbe5b8
    body:
      encoding: UTF-8
      string: '[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/libsodium/1.0.13/20170905223149
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 69bebe18ae9e95d4320abace1224cd47b88a4181aff694181cba6de12d32474b
    body:
      encoding: UTF-8
      string: '{"[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/libtool/2.4.6/20170513213706
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 95028830201efa480fdc7c87cb6ecc683552fd9c27f58d0a15ec498d121c6525
    body:
      encoding: UTF-8
      string: '{"cha[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/libxml2/2.9.6/20171025112053
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - a881d1a6e3888e1d12334530c0210bd9f60ce2e495643440d7a1cff8f3963b0d
    body:
      encoding: UTF-8
      string: '{"cha[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/libyaml/0.1.6/20170514013335
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 5f81e6cb084435ef2006b7dedfe9b13f3ee8b9cea19960173bd870368f006fa4
    body:
      encoding: UTF-8
      string: '{"cha[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/linux-headers/4.3/20170513200956
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 8f5d28dbe6e77d01f859eba9300df981f758312724f5d25925f1f22c0cc8ff77
    body:
      encoding: UTF-8
      string: '{[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/ncurses/6.0/20170513213009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - ddcbbd4c8dae6cf2cac1ea91f7f6e87c268e7a1d15ae08be560403b5ce3842d9
    body:
      encoding: UTF-8
      string: '{"chann[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/nghttp2/1.31.0/20180329185155
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - ce2f070e05d59db443e5686aafc4966b144bf46ea55d3f17e2b7fe23cb3eb7e8
    body:
      encoding: UTF-8
      string: '{"ch[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/openssl/1.0.2l/20171014213633
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - c955aaace641aa53fdeec64eea402d39c543ccfcb82cc6e31f3a0ce02178d766
    body:
      encoding: UTF-8
      string: '{"ch[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/pcre/8.38/20170513213423
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 948f13a4ca79dce68a85c3a457cdd0af0cd198d2dc5a2ab444f473b82a77f5b2
    body:
      encoding: UTF-8
      string: '{"channels":["stable","unstable"],"checksum":"948f13a4ca79dce68a85c3a457cdd0af0cd198d2dc5a2ab444f473b82a77f5b2","config":"","deps":[{"name":"glibc","origin":"core","release":"20170513201042","version":"2.22"},{"name":"gcc-libs","origin":"core","release":"20170513212920","version":"5.2.0"}],"exposes":[],"ident":{"name":"pcre","origin":"core","release":"20170513213423","version":"8.38"},"is_a_service":false,"manifest":"#
        core / pcre\nA library that implements Perl 5-style regular expressions\n\n*
        __Maintainer__: The Habitat Maintainers <humans@habitat.sh>\n* __Version__:
        8.38\n* __Release__: 20170513213423\n* __Architecture__: x86_64\n* __System__:
        linux\n* __Target__: x86_64-linux\n* __Upstream URL__: [http://www.pcre.org/](http://www.pcre.org/)\n*
        __License__: bsd \n* __Source__: [https://ftp.pcre.org/pub/pcre/pcre-8.38.tar.bz2](https://ftp.pcre.org/pub/pcre/pcre-8.38.tar.bz2)\n*
        __SHA__: `b9e02d36e23024d6c02a2e5b25204b3a4fa6ade43e0a5f869f254f49535079df`\n*
        __P[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/perl/5.22.1/20170513213942
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - ecfe6f866701bb593869fe3cabd6bd7fd3303b41c10ea22868d02105604facd4
    body:
      encoding: UTF-8
      string: '{"chann[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/postgresql/9.6.8/20180423183113
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 68abd9262a144a2d2f6c0b060c87aeb6a17092fd1ee60bb78396a3d23ea4d75b
    body:
      encoding: UTF-8
      string: '{"[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/proj/4.9.3/20171025112633
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - d6b150cb6ca8de60eeef9ada912f6278d65f31d5753d305d91c88acda943c610
    body:
      encoding: UTF-8
      string: '{"channe[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/readline/6.3.8/20170513213506
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 5ea1801baf80b89d1eaaff88de2f026a665224f0d9c8498cef1c41f696af8cf2
    body:
      encoding: UTF-8
      string: '{"ch[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/ruby/2.4.2/20171014214232
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 268b589b02ab72a6a9974ec4d8041245c31a984f0ac7a0b699851aa2447717de
    body:
      encoding: UTF-8
      string: '{"channe[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/sed/4.2.2/20170513213123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 79f39de81e9c5fd87832aa8f36a6d79bccff28c8c3eeecbf9e73ae88f2c7a456
    body:
      encoding: UTF-8
      string: '{"channel[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/froghornetsnest/pkgs/xz/5.2.2/20170513214327
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json
      Etag:
      - 809ca1f79f065a423554822c8a7f0a07578957384e254d4847287f3cdd08a4fc
    body:
      encoding: UTF-8
      string: '{"channels[...]
- request:
    method: get
[...]
