---
http_interactions:
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/stable/pkgs/glibc/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"channels":["stable","unstable"],"checksum":"1929b3c8d6ea5cabb81f0e32cf814608f7c6e4232a22cef5d71d0671b48b2c45","config":"","deps":[{"name":"linux-headers","origin":"core","release":"20170513200956","version":"4.3"}],"exposes":[],"ident":{"name":"glibc","origin":"core","release":"20170513201042","version":"2.22"},"is_a_service":false,"manifest":"#
        core / glibc\n  The GNU C Library project provides the core libraries for
        the GNU system and GNU/Linux systems,\n  as well as many other systems that
        use Linux as the kernel. These libraries provide critical\n  APIs including
        ISO C11, POSIX.1-2008, BSD, OS-specific APIs and more. These APIs include
        such\n  foundational facilities as open, read, write, malloc, printf, getaddrinfo,
        dlopen,\n  pthread_create, crypt, login, exit and more.\n\n* __Maintainer__:
        The Habitat Maintainers <humans@habitat.sh>\n* __Version__: 2.22\n* __Release__:
        20170513201042\n* __Architecture__: x86_64\n* __System__: linux\n* __Target__:
        x86_64-linux\n* __Upstream URL__: [https://www.gnu.org/software/libc](https://www.gnu.org/software/libc)\n*
        __License__: gplv2 lgplv2 \n* __Source__: [http://ftp.gnu.org/gnu/glibc/glibc-2.22.tar.xz](http://ftp.gnu.org/gnu/glibc/glibc-2.22.tar.xz)\n*
        __SHA__: `eb731406903befef1d8f878a46be75ef862b9056ab0cde1626d08a7a05328948`\n*
        __Path__: `/hab/pkgs/core/glibc/2.22/20170513201042`\n* __Build Dependencies__:
        `core/coreutils core/diffutils core/patch core/make core/gcc core/sed core/perl
        `\n* __Dependencies__: `core/linux-headers `\n* __Interpreters__: no interpreters
        or undefined\n\n# Plan\n\n## Build Flags\n\n```bash\nCFLAGS: no CFLAGS\nCPPFLAGS:
        -I/hab/pkgs/core/linux-headers/4.3/20170513200956/include -I/hab/pkgs/core/make/4.2.1/20161214000256/include
        -I/hab/pkgs/core/gcc/5.2.0/201612082[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/stable/pkgs/musl/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"channels":["bldr-934274506564550656","stable","unstable"],"checksum":"65280111617075be6ba2c645641b1a90bbfcbd08041bbe9b827e69236f140ea1","config[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/stable/pkgs/glibc/2.22/20170513201042
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"channels":["stable","unstable"],"checksum":"1929b3c8d6ea5cabb81f0e32cf814608f7c6e4232a22cef5d71d0671b48b2c45","config":"","deps":[{"name":"linux-headers","origin":"core","release":"20170513200956","version":"4.3"}],"exposes":[],"ident":{"name":"glibc","origin":"core","release":"20170513201042","version":"2.22"},"is_a_service":false,"manifest":"#
        core /[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/stable/pkgs/musl/1.1.18/20180310000919
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"channels":["bldr-934274506564550656","stable","unstable"],"checksum":"652801116[...]
- request:
    method: get
    uri: https://bldr.habitat.sh/v1/depot/channels/core/stable/pkgs/linux-headers/4.3/20170513200956
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:npn-spdy/3
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"channels":["stable","unstable"],"checksum":"8f5d28dbe6e77d01f859eba9300df981f758312724f5d25925f1f22c0cc8ff77","config":"","deps":[],"exposes":[],"ident":{"name":"linux-headers","origin":"core","release":"20170513200956","version":"4.3"},"is_a_service":false,"manifest":"#
        core / linux-headers\n\n\n* __Maintainer__: The Habitat Maintainers <humans@habitat.sh>\n*
        __Version__: 4.3\n* __Release__: 20170513200956\n* __Architecture__: x86_64\n*
        __System__: linux\n* __Target__: x86_64-linux\n* __Upstream URL__: upstream
        project''s website or home page is not defined\n* __License__: gplv2 \n* __Source__:
        [https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.3.tar.xz](https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.3.tar.xz)\n*
        __SHA__: `4a622cc84b8a3c38d39bc17195b0c064d2b46945dfde0dae18f77b120bc9f3ae`\n*
        __Path__: `/hab/pkgs/core/linux-headers/4.3/20170513200956`\n* __Build Dependencies__:
        `core/coreutil[...]
