{erl_opts, [no_debug_info]}.
{deps, [
        jsone,
        {rebar3, {git, "https://github.com/erlang/rebar3", {branch, "master"}}}
       ]}.

{escript_incl_apps,
 [rebar_lock_json]}.
{escript_main_app, rebar_lock_json}.
{escript_name,  rebar_lock_json}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

{post_hooks, [
              {escriptize, "cp $REBAR_BUILD_DIR/bin/rebar_lock_json ../../bin/"}
             ]}.

{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
